body {
    background-color: #000000;
    margin: 0px;
    overflow: hidden;
}

#info {
    position: absolute;
    top: 0px; width: 100%;
    color: #ffffff;
    padding: 5px;
    font-family:Monospace;
    font-size:13px;
    font-weight: bold;
    text-align:center;
}

a {
    color: #ffffff;
}

.popup{
    position:absolute;
    bottom:20%;
    left:20%;
    width:60%;
    height:60%;
    font-family:verdana;
    font-size:13px;
    background-color:rgb(240,240,240);
    border:3px solid grey;
}

.descriptiveImage img{
    position:relative;
    float: left;
    width: 35%;
    height: 55%;
    padding: 10px 0 0 10px;
}

.cancel{
    position:absolute;
    cursor:pointer;
    top:0px;
    right: 0px;
    height:15px;
    width:15px;
}

.cancel img{
    width: 15px;
    height: 15px;
}

span{
    position: relative;
    width: 90%;
    float: left;
    padding:10px 0 0 10px;
}

.logoImg img{
    position: absolute;
    bottom:0px;
    right: 0px;
    height: 45px;
    width: 45px;
}

.cancel:hover{
    /*background:rgb(255,50,50);*/
}

#mapdiv{
    position:absolute;
    bottom:0;
    right:0px;
    width:25%;
    height:25%;
}

.olControlAttribution.olControlNoSelect{
    display: none;
    width: 0 px;
    height: 0 px;
}